* {
  border: 0;
}

body, html {
  background-image: url(../images/kendal-hnysCJrPpkc-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  margin: 0;
}

main {
  height: 100%;
  display: flex;
  justify-content: space-between;
}

div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 33.3%;
}

section {
  background-color: rgba(217,217,217,.26);
  border: solid #ff50a5 3px;
  border-radius: 8px;
  box-shadow: #ff50a5;
  width: 90%;
  margin: 5%;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow:
    0 0 15px #f09,
    inset 0 0 10px #fff;
    color: #e9c4e0
}

h2 {
  font-family: 'Fasthand', cursive;
  font-size: 50px;
  margin: 0;
  color: #e9c4e0
}

h3 {
  font-family: 'Lobster', cursive; 
  font-size: 30px;
  margin-top: 0%
}
.activity-box {
  height: 90%;
  margin-right: 0;
}

.water-box {
  height: 35%;
  margin-right: 0;
}

.sleep-box {
  margin-top: 0;
  height: 50%;
  margin-right: 0;
}

h1 {
  font-family: 'Neonderthaw', cursive;
  font-size: 90px;
  color: #fab5d7;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px rgb(242, 171, 214),
    0 0 82px #f09,
    0 0 92px rgb(240, 61, 168),
    0 0 102px #f09,
    0 0 151px #f09;
    animation: pulsate 0.5s ease-in-out infinite alternate; 
}

.user-box {
  margin-top: 0;
  height: 85%;
}

.data-box {
  align-items: flex-start;
  
}

.steps-circle {
  margin-top: 15%;
  height: 250px;
  width: 250px;
  border-radius: 50%;
}

.friends-box,
.data-box {
  height: 40%;
}

.friends-box {
  margin-top: 0;
}

p {
  margin-left: 5%;
  margin-top: 6%;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  color: #e9c4e0
}

@keyframes pulsate {
  100% {
    text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px #f09,
      0 0 80px #f09,
      0 0 90px #f09,
      0 0 100px #f09,
      0 0 150px #f09;
  }
 0% {
    text-shadow:
      0 0 4px #fff,
      0 0 10px #fff,
      0 0 18px #fff,
      0 0 38px #f09,
      0 0 73px #f09,
      0 0 80px #f09,
      0 0 94px #f09,
      0 0 140px #f09;
  }
}