* {
  border: 0;
  margin: 0
}

body,
html {
  height: 100%;
  background-image: url(../images/kendal-hnysCJrPpkc-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  height: 100%;
  display: flex;
  justify-content: space-between;
}

div {
  height: 100%;
  width: 33.3%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

section {
  width: 90%;
  height: 50%;
  margin: 5%;
  border: solid #ff50a5 3px;
  border-radius: 8px;
  background-color: rgba(217, 217, 217, 0.26);
  box-shadow: 0 0 15px #f09, inset 0 0 10px #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #e9c4e0;
}

canvas {
  background-color: rgba(217, 217, 217, 0.75);
}

h1 {
  font-family: 'Neonderthaw', cursive;
  font-size: 90px;
  color: #fab5d7;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff,
    0 0 42px rgb(242, 171, 214), 0 0 82px #f09, 0 0 92px rgb(240, 61, 168),
    0 0 102px #f09, 0 0 151px #f09;
  animation: pulsate 1s ease-in-out infinite alternate;
}

h2 {
  font-family: 'Fasthand', cursive;
  font-size: 50px;
  color: #e9c4e0;
}

h3 {
  font-family: 'Lobster', cursive;
  font-size: 26px;
  margin: 3%;
}

p {
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  margin: 15px 0px;
  color: #e9c4e0;
}


/* ----------Activity------------- */

.activity-box {
  height: 90%;
  margin-right: 0;
}

.steps-circle {
 height: 230px;
  width: 90%;
  margin-top: 0px;
  /* display: flex;
  justify-content: center;
  align-content: center; */
}

#steps-progress-bar {
  background-color: rgba(217, 217, 217, 0);
}

.donut-inner {
  margin-top: -125px;
  margin-bottom: 90px;
}



.avg-comparison {
  height: 15%;
}

.weekly-steps {
  height:auto;
  width: auto;
}

/* -------------Water--------------*/

.water-box {
  height: 35%;
  margin-right: 0;
  display: flex;
  justify-content: space-evenly;
}

.todays-water {
  height: 35%;
  margin-top: 0;
  margin-bottom: 0;
}

.water-intake {
  margin-bottom: 9px;
}

.weekly-water-box {
  height: 90px;
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.weekly-ounces {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-top: 0;
  background-color: #f09;
  display: flex;
  justify-content: center;
  align-items: center;
}

.glass-box {
  height: 1000px;
  width: 90%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.water {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

.date {
  margin: 0px 0px 5px 0px;
}

/* -------------Sleep--------------*/

.sleep-box {
  height: 50%;
  margin-top: 0;
  margin-right: 0;
}

.sleep-data {
  display: flex;
  flex-direction: row;
  height: 28%;
  justify-content: space-between;
  width: 88%;
  margin-top: -5%;
}

.daily-sleep-hours-box, .daily-sleep-quality-box {
  height: 100%;
  width: 100%;
  border-radius: 8%;
  margin-bottom: -11%;
}

.weekly-sleep-data-box {
  height: 60%;
}


h4 {
margin-top: 8%
}

.zzzz-img {
  height: 75px;
  margin-top: 13%
}

/* -------------User--------------*/

.user-box {
  height: 85%;
  margin-top: 0;
}

.data-box {
  width: 85%;
  padding-left: 5%;
  padding-top: 6%;
}

.friends-box,
.data-box {
  height: 40%;
}

.friends-box {
  margin-top: 0;
}

/* ------------Animations------------ */

@keyframes pulsate {
  100% {
    text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px #f09,
      0 0 80px #f09,
      0 0 90px #f09,
      0 0 100px #f09,
      0 0 150px #f09;
  }
 0% {
    text-shadow:
      0 0 4px #fff,
      0 0 10px #fff,
      0 0 18px #fff,
      0 0 38px #f09,
      0 0 73px #f09,
      0 0 80px #f09,
      0 0 94px #f09,
      0 0 140px #f09;
  }
}
