* {
  border: 0;
  margin: 0;
}

body,
html {
  height: 100%;
  background-image: url(../images/kendal-hnysCJrPpkc-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  height: 100%;
  display: flex;
  justify-content: space-between;
}

div {
  height: 100%;
  width: 33.3%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

section {
  width: 90%;
  height: 50%;
  margin: 5%;
  border: solid #fab5d7 3px;
  border-radius: 8px;
  background-color: rgba(217, 217, 217, 0.26);
  box-shadow: 0 0 9px 5px rgba(193, 24, 103, .85), inset 0 0 9px 2px #c11867;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #e9c4e0;
}

canvas {
  background-color: rgba(217, 217, 217, 0.75);
}

h1 {
  font-family: 'Neonderthaw', cursive;
  font-size: 90px;
  color: #fab5d7;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff,
    0 0 42px rgb(242, 171, 214), 0 0 82px #f09, 0 0 92px rgb(240, 61, 168),
    0 0 102px #f09, 0 0 151px #f09;
  animation: pulsate 0.5s ease-in-out infinite alternate;
}

h2 {
  font-family: 'Fasthand', cursive;
  font-size: 50px;
  color: #e9c4e0;
}

h3 {
  font-family: 'Lobster', cursive;
  font-size: 26px;
  margin: 0%;
}

h4,
h5 {
  height: 18%;
  font-size: 16px;
}

p {
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  margin: 15px 0px;
  color: #e9c4e0;
}

/* ----------Activity------------- */

.activity-box {
  height: 90%;
  padding: 5px;
  margin-right: 0;
}

.steps-circle {
  height: 230px;
  width: 90%;
  margin-top: 0px;
}

#steps-progress-bar {
  margin-top: 5%;
  background-color: rgba(217, 217, 217, 0);
}

.donut-inner {
  margin-top: -125px;
  margin-bottom: 90px;
}

.widget-container {
  height: 25%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 15px;
}

.widget {
  display: flex;
  text-align: center;
  align-items: center;
}

.user-vs-avg {
  height: 200px;
  width: auto;
}

.user-steps {
  margin-bottom: auto;
}

.avg-steps {
  margin-top: auto;
}

.weekly-steps {
  height: auto;
  width: auto;
  margin-top: 0;
  margin-bottom: 15px;
}

.average {
  background: url(/src/images/chart.svg) no-repeat;
  height: 48px;
  width: 48px;

  display: flex;
  justify-content: space-between;
}

.distance {
  background: url(/src/images/distance.svg) no-repeat;
  height: 48px;
  width: 48px;
}

.active {
  background: url(/src/images/time.svg) no-repeat;
  height: 48px;
  width: 48px;
}

.distance-value,
.active-value {
  font-size: 25px;
}

/* -------------Water--------------*/

.water-box {
  height: 35%;
  margin-right: 0;
  display: flex;
  justify-content: space-evenly;
}

.todays-water {
  height: 35%;
  margin-top: 0;
  margin-bottom: 0;
}

.water-intake {
  margin-bottom: 9px;
}

.weekly-water-box {
  height: 90px;
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.weekly-ounces {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-top: 0;
  margin-bottom: 0px;
  background-color: #f09;
  display: flex;
  justify-content: center;
  align-items: center;
}

.glass-box {
  height: 1000px;
  width: 90%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.water {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

.date {
  margin: 5px 0px 5px 0px;
}

/* -------------Sleep--------------*/

.sleep-box {
  height: 50%;
  margin-top: 0;
  margin-right: 0;
  display: flex;
  justify-content: space-evenly;
}

.sleep-data {
  display: flex;
  flex-direction: row;
  height: 28%;
  justify-content: space-between;
  width: 88%;
}

.data-box {
  height: 32%;
  width: 100%;
  border-radius: 8%;
  box-shadow: 0 0 9px 2px rgba(193, 24, 103, .85), inset 0 0 0px 0px #c11867;
}

.hours-slept-data,
.sleep-quality-data {
  height: 20%;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 1%;
  margin-bottom: 3%;
}

.weekly-sleep-data-box,
.weekly-sleep-quality-box {
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: baseline;
  margin-bottom: 2%;
}

.average-sleep-data-box {
  height: 26%;
  width: 100%;
  border-radius: 8%;
}

/* -------------User--------------*/

.user-box {
  height: 76%;
  margin-top: 0;
}

.info-box {
  width: 85%;
  padding-left: 5%;
  padding-top: 6%;
}

.friends-box,
.info-box {
  height: 40%;
}

.friends-box {
  margin-top: 0;
}

/* ------------Animations------------ */

@keyframes pulsate {
  100% {
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #f09,
      0 0 80px #f09, 0 0 90px #f09, 0 0 100px #f09, 0 0 150px #f09;
  }
  0% {
    text-shadow: 0 0 4px #fff, 0 0 10px #fff, 0 0 18px #fff, 0 0 38px #f09,
      0 0 73px #f09, 0 0 80px #f09, 0 0 94px #f09, 0 0 140px #f09;
  }
}
